.header {
    background-color: gold;
    padding: 10px 10px;
}
.header ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.header ul li  {
   list-style-type: none;
}

.header ul li > a {
    color: red;
}