<div class="row">
  <div class="col-sm-6 input-area">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">

          <div class="form-group">
              <label for="planName" >Plan Name</label>
              <input class="form-control" type="text"
              ngModel #planName="ngModel" id="planName" name="planName" >
              <span *ngIf="planName.invalid && planName.touched" style="color: red;">Plan Name is required</span>
          </div>
          <div class="form-group" >
              <label for="planPoint" >Plan Point</label>
              <input class="form-control" type="text"
              ngModel #planPoint="ngModel" name="planPoint" required>
              <span *ngIf="planPoint.invalid && planPoint.touched" style="color: red;">Plan Point is required</span>
          </div> 
          <div class="form-group">
              <label value="planDescription">Plan Description</label>  
              <textarea  ngModel #planDescription="ngModel" name="planDescription" class="form-control" rows="4" style="border-color: red;"></textarea>
            </div>
          <div class="form-group">
            <label value="planStartDate">Plan Start Date</label>  
            <input ngModel #planStartDate="ngModel" name="planStartDate" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label value="planEndDate">Plan End Date</label>  
            <input ngModel #planEndDate="ngModel" name="planEndDate" class="form-control" type="text">
          </div>

          <div class="row">
              <button 
                class="btn btn-primary" 
                [disabled]="!f.valid"
                type="submit"
                >{{isEditMode ? 'Update': 'Add'}}</button>
          </div>
        </form>
  </div>
    
  <div class="col-sm-6">
    <div class="list-desplay">
        <h3>Input values {{planLists.length}}</h3> 
      
        <li *ngFor="let anInput of planLists; let i = index">
          <a (click)="initiateEditing(i)">{{anInput.planName}}</a>
        </li>
      <div class="form-group">
        <button type="text" 
          class="btn btn-danger"
          (click)="deleteThis()"
        *ngIf="isEditMode">Delete</button>
  
        <button type="text" 
          class="btn btn-warning"
          (click)="clearInputField()"
        >Clear</button>
  
        <button 
          class="btn btn-primary" 
          (click)="getGreeted()"
        >Get</button>
      </div>
      
      <h6 *ngIf="greeting != null">
        Data from server: {{greeting.content}}
      </h6>

      <div>
        <button type="button" (click)="savePlanList()" class="btn btn-primary">Save Plan List</button>
      </div>

    </div>
      
    

    </div>
    
</div>
