

app-home{
    position: relative;
    background-color:red;
}
.message {
    padding: 190px 340px;
    position: absolute;
    background-color: greenyellow;
    background-image: url('../../assets/file/yesUCan.webp');
    top: 25%;
    right: 50%;
    box-shadow: 10px 10px 5px;
    transform: translateY(50%);
    transform: translateX(50%);
}